In [1]:
import pandas as pd
import sqlite3

# Load Data

In [2]:
file_path = 'd:/praca_inzynierska/database.sqlite/database.sqlite'
conn = sqlite3.connect(file_path)

query_country = "SELECT * FROM Country;"
df_country = pd.read_sql_query(query_country, conn)

query_league = "SELECT * FROM League;"
df_league = pd.read_sql_query(query_league, conn)

query_league = "SELECT * FROM Match;"
df_match = pd.read_sql_query(query_league, conn)

query_league = "SELECT * FROM Player;"
df_player = pd.read_sql_query(query_league, conn)

query_league = "SELECT * FROM Player_Attributes;"
df_playerAtrib = pd.read_sql_query(query_league, conn)

query_league = "SELECT * FROM Team;"
df_team = pd.read_sql_query(query_league, conn)

query_league = "SELECT * FROM Team_Attributes;"
df_teamAtrib = pd.read_sql_query(query_league, conn)

conn.close()

In [3]:
print("Dane z tabeli Country:")
print(df_country.head())

print("\nDane z tabeli League:")
print(df_league.head())

Dane z tabeli Country:
      id     name
0      1  Belgium
1   1729  England
2   4769   France
3   7809  Germany
4  10257    Italy

Dane z tabeli League:
      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [4]:
print("\nDane z tabeli Match:")
print(df_match.head())

Dane z tabeli Match:
   id  country_id  league_id     season  stage                 date  \
0   1           1          1  2008/2009      1  2008-08-17 00:00:00
1   2           1          1  2008/2009      1  2008-08-16 00:00:00
2   3           1          1  2008/2009      1  2008-08-16 00:00:00
3   4           1          1  2008/2009      1  2008-08-17 00:00:00
4   5           1          1  2008/2009      1  2008-08-16 00:00:00

   match_api_id  home_team_api_id  away_team_api_id  home_team_goal  ...  \
0        492473              9987              9993               1  ...
1        492474             10000              9994               0  ...
2        492475              9984              8635               0  ...
3        492476              9991              9998               5  ...
4        492477              7947              9985               1  ...

    SJA   VCH   VCD   VCA   GBH   GBD   GBA   BSH   BSD   BSA
0  4.00  1.65  3.40  4.50  1.78  3.25  4.00  1.73  3.40  4.20
1  3.80  2.00  3.25  3.25  1.85  3.25  3.75  1.91  3.25  3.60
2  2.50  2.35  3.25  2.65  2.50  3.20  2.50  2.30  3.20  2.75
3  7.50  1.45  3.75  6.50  1.50  3.75  5.50  1.44  3.75  6.50
4  1.73  4.50  3.40  1.65  4.50  3.50  1.65  4.75  3.30  1.67

[5 rows x 115 columns]

In [5]:
print("\nDane z tabeli Player:")
print(df_player.head())

Dane z tabeli Player:
   id  player_api_id         player_name  player_fifa_api_id  \
0   1         505942  Aaron Appindangoye              218353
1   2         155782     Aaron Cresswell              189615
2   3         162549         Aaron Doran              186170
3   4          30572       Aaron Galindo              140161
4   5          23780        Aaron Hughes               17725

              birthday  height  weight
0  1992-02-29 00:00:00  182.88     187
1  1989-12-15 00:00:00  170.18     146
2  1991-05-13 00:00:00  170.18     163
3  1982-05-08 00:00:00  182.88     198
4  1979-11-08 00:00:00  182.88     154

In [6]:
print("\nDane z tabeli Player_Attributes:")
print(df_playerAtrib.head())

Dane z tabeli Player_Attributes:
   id  player_fifa_api_id  player_api_id                 date  overall_rating  \
0   1              218353         505942  2016-02-18 00:00:00            67.0
1   2              218353         505942  2015-11-19 00:00:00            67.0
2   3              218353         505942  2015-09-21 00:00:00            62.0
3   4              218353         505942  2015-03-20 00:00:00            61.0
4   5              218353         505942  2007-02-22 00:00:00            61.0

   potential preferred_foot attacking_work_rate defensive_work_rate  crossing  \
0       71.0          right              medium              medium      49.0
1       71.0          right              medium              medium      49.0
2       66.0          right              medium              medium      49.0
3       65.0          right              medium              medium      48.0
4       65.0          right              medium              medium      48.0

   ...  vision  penalties  marking  standing_tackle  sliding_tackle  \
0  ...    54.0       48.0     65.0             69.0            69.0
1  ...    54.0       48.0     65.0             69.0            69.0
2  ...    54.0       48.0     65.0             66.0            69.0
3  ...    53.0       47.0     62.0             63.0            66.0
4  ...    53.0       47.0     62.0             63.0            66.0

   gk_diving  gk_handling  gk_kicking  gk_positioning  gk_reflexes
0        6.0         11.0        10.0             8.0          8.0
1        6.0         11.0        10.0             8.0          8.0
2        6.0         11.0        10.0             8.0          8.0
3        5.0         10.0         9.0             7.0          7.0
4        5.0         10.0         9.0             7.0          7.0

[5 rows x 42 columns]

In [7]:
print("\nDane z tabeli Team:")
print(df_team.head())

Dane z tabeli Team:
   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [8]:
print("\nDane z tabeli Team_Attributes:")
print(df_teamAtrib.head())

Dane z tabeli Team_Attributes:
   id  team_fifa_api_id  team_api_id                 date  buildUpPlaySpeed  \
0   1               434         9930  2010-02-22 00:00:00                60
1   2               434         9930  2014-09-19 00:00:00                52
2   3               434         9930  2015-09-10 00:00:00                47
3   4                77         8485  2010-02-22 00:00:00                70
4   5                77         8485  2011-02-22 00:00:00                47

  buildUpPlaySpeedClass  buildUpPlayDribbling buildUpPlayDribblingClass  \
0              Balanced                   NaN                    Little
1              Balanced                  48.0                    Normal
2              Balanced                  41.0                    Normal
3                  Fast                   NaN                    Little
4              Balanced                   NaN                    Little

   buildUpPlayPassing buildUpPlayPassingClass  ... chanceCreationShooting  \
0                  50                   Mixed  ...                     55
1                  56                   Mixed  ...                     64
2                  54                   Mixed  ...                     64
3                  70                    Long  ...                     70
4                  52                   Mixed  ...                     52

   chanceCreationShootingClass chanceCreationPositioningClass  \
0                       Normal                      Organised
1                       Normal                      Organised
2                       Normal                      Organised
3                         Lots                      Organised
4                       Normal                      Organised

   defencePressure defencePressureClass  defenceAggression  \
0               50               Medium                 55
1               47               Medium                 44
2               47               Medium                 44
3               60               Medium                 70
4               47               Medium                 47

  defenceAggressionClass defenceTeamWidth  defenceTeamWidthClass  \
0                  Press               45                 Normal
1                  Press               54                 Normal
2                  Press               54                 Normal
3                 Double               70                   Wide
4                  Press               52                 Normal

  defenceDefenderLineClass
0                    Cover
1                    Cover
2                    Cover
3                    Cover
4                    Cover

[5 rows x 25 columns]